/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COVER STYLES */

.cover {
    background-image: url("assets/freedom.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 0 2.5rem;
}

.quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
    padding: 3rem 0;
}

.author {
    font-family: 'Crimson Text';
    font-style: italic;
}

/* END OF CSS FILE */